#content {
	height: 99%;
	position:fixed;
}

.tab {
	display: none;
	overflow-y:scroll;
	width: auto;
	height: 71%;
	margin-bottom: 70px;
}

.name_district {
	font-size: 130%;
	text-align: center;
	margin-bottom: 10px;
}

.name_section{
	font-size: 110%;
	text-align: center;
}

div[id*=txt] {
	margin: 3% 3% 0 11%;
	font-family: 'Merriweather';
	background-color: #ffffff;
	text-indent: 1.5em;
	text-align: justify;
	padding: 7px;
	border: 7px solid #c3d3ed;
	font-size: 16px;
	padding: 45px;
}

#tabs {
	margin: 20px 0 20px 0;
	top:0px;
	left:0px;
	height: auto;
	display: flex;
	flex-direction: column;
	position: absolute;
	text-align: center;
}

.tab_style{
	height: 100%;
	width: 155px;
	margin-left: 5px;
	margin-top: 5px;
	padding-top: 5%;
	color: #30596d;
}

.tab_style:hover{
	background-color: #91c5e4;
}